@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<link rel="import" href="/Scripts/widgets/p4m-ajax-block/p4m-ajax-block.html">
<p4m-ajax-block content-url="https://local.parcelfor.me:44333/Thankyou/Thankyou.html"></p4m-ajax-block>
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about shopping for some more stuff in our
    @Html.ActionLink("store","Index", "Home")
</p>

