@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<!--<link rel="import" href="https://p4mtestcdn.azureedge.net/pw/p4m-widgets/p4m-get-html/p4m-get-html.html">-->
<link rel="import" href="~/Scripts/Lib/p4m-widgets/p4m-get-html/p4m-get-html.html">
<p4m-get-html content-url="https://dev.parcelfor.me:44333/Thankyou/Thankyou.html"></p4m-get-html>
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about shopping for some more stuff in our
    @Html.ActionLink("store","Index", "Home")
</p>

