@model OpenOrderFramework.Models.Order

@{
    ViewBag.Title = "Delivery";
}

<h2>Delivery</h2>
@Model.Address

<!--

//Use Razor to generate Action,Controller -> POST URL
//Use Razor to loop over items in cart to produce serialised data


//Use Razor to represent entire Order object as hidden fields

-->

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "OrderDetails")
        {
            @Html.Hidden(property.PropertyName)
        }

    }
    <button type="submit">Next >></button>

}
<gfs-supported-carriers carriers="dpd inpost"></gfs-supported-carriers>
<gfs-checkout id="gfs-checkout-widget" marker-icon="assets/icon_peli_off.png" selected-marker-icon="assets/icon_peli_on.png" currency-symbol="&pound;"></gfs-checkout>

