@model OpenOrderFramework.Models.Order
@{
    ViewBag.Title = "P4MCheckout";
}
<link rel="import" href="/Scripts/widgets/p4m-checkout/p4m-checkout.html">
<link rel="import" href="/Scripts/widgets/p4m-login/p4m-login.html">
<link rel="import" href="/Scripts/widgets/p4m-ajax-block/p4m-ajax-block.html">
<h2>Parcel For Me</h2>

<p4m-checkout></p4m-checkout>

<p4m-ajax-block content-url="/Content/test.html" css-url="/Content/test.css"></p4m-ajax-block>