@model OpenOrderFramework.Models.Order
@{
    ViewBag.Title = "P4MCheckout";
}
<link rel="import" href="/Scripts/widgets/p4m-checkout/p4m-checkout.html">
<link rel="import" href="/Scripts/widgets/p4m-login/p4m-login.html">

<h2>Parcel For Me</h2>

<p4m-checkout></p4m-checkout>
