@model OpenOrderFramework.Models.Order
@{
    ViewBag.Title = "Delivery";
    Layout = "";
}
<script src="/Scripts/Lib/webcomponentsjs/webcomponents.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Site.css">

@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="/Content/card.css">
<link rel="stylesheet" href="~/Content/TestShop.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMQhcXM06TZBHZ95LwJBRVGSV4CqUQMpI"></script>

<link rel="import" href="/Scripts/Lib/gfs-checkout-widget/gfs-checkout-widget.html">

<h2>GFS Checkout</h2>

<gfs-checkout gfs-data="eyJSZXF1ZXN0Ijp7IkRhdGVSYW5nZSI6eyJEYXRlRnJvbSI6IjIwMTYtMDctMTEiLCJEYXRlVG8iOiIyMDE2LTA3LTI1In0sIk9yZGVyIjp7IlRyYW5zaXQiOnsiUmVjaXBpZW50Ijp7IkxvY2F0aW9uIjp7IkNvdW50cnlDb2RlIjp7IkNvZGUiOiJHQiIsIkVuY29kaW5nIjoiY2NJU09fMzE2Nl8xX0FscGhhMiJ9LCJQb3N0Y29kZSI6IlNPNDAgN0pGIn19fSwiVmFsdWUiOnsiQ3VycmVuY3lDb2RlIjoiR0JQIiwiVmFsdWUiOjQ1Ljk5fX0sIlJlcXVlc3RlZERlbGl2ZXJ5VHlwZXMiOlsiZG1Ecm9wUG9pbnQiLCJkbVN0YW5kYXJkIl0sIlNlc3Npb24iOnsiQVBJS2V5SWQiOiJDTC02OUFFNzA0Ri1ENTkyLTRBNEEtQTU2RC1FQzVFOUYxQzI4QjIifX19"
              initial-address="SE6 1EJ" xinitial-address="d, d, SO40 7JF" currency-symbol="&pound;" use-standard="true" use-calendar="true" use-drop-points="true"></gfs-checkout>

