@model OpenOrderFramework.Models.Order
@{
    ViewBag.Title = "Delivery";
    Layout = "";
}
<script src="/Scripts/Lib/webcomponentsjs/webcomponents.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Site.css">

@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="/Content/card.css">
<link rel="stylesheet" href="~/Content/TestShop.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMQhcXM06TZBHZ95LwJBRVGSV4CqUQMpI"></script>

<link rel="import" href="/Scripts/widgets/gfs-checkout-widget/gfs-checkout-widget.html">

<h2>GFS Checkout</h2>
<gfs-checkout currency-symbol="&pound;" use-standard="true" use-calendar="true"></gfs-checkout>

