@model OpenOrderFramework.Models.Order
@{
    ViewBag.Title = "Delivery";
    Layout = "";
}
<script src="/Scripts/Lib/webcomponentsjs/webcomponents.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/Site.css">

@Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="/Content/card.css">
<link rel="stylesheet" href="~/Content/TestShop.css">

<link rel="import" href="/Scripts/widgets/gfs-checkout-widget/gfs-checkout-widget.html">

<h2>GFS Checkout</h2>

<gfs-checkout access-token="@ViewBag.AccessToken" gfs-data="@ViewBag.InitialData"
              initial-address="@ViewBag.InitialAddress" xinitial-address="d, d, SO40 7JF" currency-symbol="&pound;" use-standard="true" use-calendar="true" use-drop-points="true"></gfs-checkout>

<script>
    window.addEventListener('selectedServiceChanged', function (e) {
        console.log('selectedServiceChanged', e.detail);
        sendP4mData(e.detail);
    });

    function addressLinesToStr(lines) {
        return lines.reduce((result, currentValue) => {
            if (result) {
                result += ", ";
            }
            result += currentValue;
            return result;
        });
    }


    function sendP4mData(data) {
        var p4mCheckout = window.parent.document.getElementsByTagName('p4m-checkout')[0];
        p4mCheckout.updateShipping(data);
    }
</script>