            .gfs-button {
                margin: 10px;
                padding: 10px;
                background-color: rgba(200, 200, 200, 1.0);
                color: #000000;
                border-radius: 4px;
                text-align: center;
                cursor: pointer; 
                min-width: 100px;
            }

            .gfs-button:hover {
                background-color: rgba(68, 144, 68, 1.0);
                color: #FFFFFF;
                transition-duration: 0.5s;
            }

            .gfs-button.disabled {
                background-color: rgba(200, 200, 200, 0.5);
                cursor: not-allowed;
            }

            .gfs-button.gfs-mini-button {
                width: 90px;
                margin-left: 2px;
                margin-right: 2px;
                padding-top: 4px;
                padding-left: 0px;
                padding-right: 2px;
                height: 32px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }